@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    Base Class Name: <input id="baseClassName">
    <br>
    Select list type: @Html.DropDownList("listType", (IEnumerable<SelectListItem>)ViewBag.SelectOptions)
    <br>
    <textarea id="json" style="width: 500px; height: 500px"></textarea>
    <br>
    <button onclick="load()">Convert</button>
</div>
<code id="result" style="white-space: pre;"></code>

<script>
function load()
{
    const baseClassName = document.getElementById("baseClassName").value;
    console.log(baseClassName);

    const jsonText = document.getElementById("json").value;
    console.log(jsonText);
    
    const listType = document.getElementById("listType").value;
    
    var data = {
        baseClassName: baseClassName,
        jsonText: jsonText,
        listType: listType
    };
    console.log(JSON.stringify(data));

    $.ajax({
        async: true,
        url: '/Home/Generate',
        type: 'POST',
        data: JSON.stringify(data),
        contentType: "application/json",
        success: (data) => {
            console.log(data);
            
            const resultDiv = document.getElementById("result");
            resultDiv.innerText = data;
        }
    });
}
</script>
